<div class="center">
  <section id="content">
    <!-- <app-articles [articles]="articles"></app-articles> -->
    <div class="loading" *ngIf="!article"> Cargando ....</div>
    <article class="article-item-detail" id="article-template" *ngIf="article">
      <div class="image-wrap">
        <img src="{{url+'get-image/'+article.image}}" alt="imagen estrellas" *ngIf="article.image">
        <img src="assets/images/noImage.jpg" alt="no hay imagen disponible" *ngIf="!article.image">
      </div>
      <h1 class="subheader">{{article.title}}</h1>

      <span class="date">{{article.date|amLocale : 'es'|amTimeAgo}}</span>
      <div class="clearfix"></div>
      <p>
        {{article.content}}</p>
    </article>
    <div class="buttons">
      <a class="btn btn-warning">Editar</a>
      <a class="btn btn-danger">Borrar</a>
    </div>
  </section>

  <app-sidebar></app-sidebar>
</div>
