<div class="loading" *ngIf="!articles">
  Cargando ..
</div>
<div class="article" *ngIf="articles">
  <article class="article-item" *ngFor="let article of articles">
    <div class="image-wrap">
      <img src="{{url + 'get-image/' +article.image}}" alt="imagen estrellas" *ngIf=article.image>
      <img src="assets/images/noImage.jpg" alt="imagen estrellas" *ngIf=!article.image>
    </div>
    <h2>{{article.title}}</h2>

    <span class="date">{{article.date | amLocale:'es'| amTimeAgo}}</span>
    <a href="#">leer mas</a>
    <div class="clearfix"></div>
  </article>
</div>
