body {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.clearfix {
  clear: both;
  float: none;
}
#header {
  height: 120px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-top: 3px solid #61dadb;
}
.center {
  width: 75%;
  margin: 0px auto;
}
#logo {
  // width: 20%;
  font-size: 30px;
  float: left;
  margin: 35px;
}
#logo img {
  display: block;
  float: left;
  width: 30px;
  /* margin-right: -10px; */
  margin-top: -1px;
  animation: girar infinite 30s linear;
}
@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#brand {
  width: 70%;
  display: block;
  margin: 0px;
  float: left;
  font-size: 15px;
}
#menu {
  width: 70%;
  float: right;
  font-size: 19px;
  /* display: flex; */
  ul {
    line-height: 85px;
    width: 90%;
    float: right;
  }
  li {
    list-style: none;
    height: 46px;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }
}
#menu a {
  text-decoration: none;
  color: #444;
  transition: 0.3s all;
  &:hover {
    color: #3cb2d3;
  }
}

.active {
  border-bottom: 2px solid #3cb2d3;
}

#slider {
  width: 100%;
  height: 350px;
  /* line-height: 320px; */
  color: white;
  text-shadow: 0 0 5px #444;
  background: rgb(16, 8, 150);
  background: radial-gradient(
    circle,
    rgba(16, 8, 150, 1) 0%,
    rgba(54, 54, 214, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

#slider h1 {
  text-align: center;
  padding-top: 140px;
  /* padding: 0; */
}

.btn-white {
  display: block;
  color: rgb(88, 88, 88);
  background-color: white;
  padding: 10px;
  width: 100px;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;
  line-height: 35px;
  box-shadow: 35px;
  box-shadow: 0 0 5px #ccc;
  margin-top: 50px;
  border-radius: 4px;
  transition: 0.3s background;
}

.btn-white:hover {
  background-color: #444;
  color: white;
}

#slider.slider-small {
  height: 150px;
}

#slider.slider-small h1 {
  margin-top: 0px;
  padding: 50px 0 0 0;
}

#content {
  width: 70%;
  float: left;
  /* border: 1px solid red; */
  min-height: 450px;

  margin-right: 25px;
}

#sidebar {
  width: 25%;
  float: left;
  /* border: 1px solid green; */
}

.sidebat-item {
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
  h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    border-bottom: 3px solid #aaa;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .btn {
    margin: 10px auto 0;
    display: block;
  }
}

.btn {
  background-color: black;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  text-decoration: none;
  max-width: 120px;
  border: none;
}

.btn-success {
  background-color: green;
  transition: 0.3s background;
  &:hover {
    background-color: black;
  }
}
.btn-danger {
  background-color: red;
}
.btn-warning {
  background-color: rgb(250, 171, 0);
}

input[type="text"],
textarea {
  width: 100%;
  min-height: 30px;
  border: 1px solid #eee;
  padding: 2px;
  margin-bottom: 5px;
  &:focus {
    box-shadow: 0 0 5px #444 inset;
  }
}
textarea {
  height: 150%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 150%;
  max-height: 300px;
}

.radiobuttons {
  margin {
    top: 10px;
    bottom: 10px;
  }
  float: left;
}

.mid-form {
  width: 60%;
  label {
    text-align: left;
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
  }
}
// .form-group {
// }

#footer {
  margin-bottom: 0;
  background-color: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 65px;
  p {
    margin: 0;
    padding: 0;
  }
}

.article-item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
  .image-wrap {
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
    img {
      height: 100%;
      text-align: center;
    }
  }
  h2 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
  }
  .date {
    display: block;
    width: 100%;
    color: #444;
  }
  a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.subheader {
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.article-item-detail {
  .image-wrap {
    float: none;
    width: 100%;
    height: 300px;
    overflow: hidden;
    text-align: center;
    img {
      width: 100%;
    }
  }
  .subheader {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
    border: none;
  }
}

@media (max-width: 1488px) {
  .center {
    width: 85%;
  }
}

@media (max-width: 1314px) {
  .center {
    width: 95%;
  }
}

@media (max-width: 799px) {
  #logo {
    float: none;
    width: 240px;
    margin: 20px auto 0;
  }
  #menu {
    &,
    ul {
      width: auto;
      clear: both;
      float: none;
      margin: 0;
      padding: 0;
      // line-height: 43px;
    }
  }
  #content {
    float: none;
    width: 100%;
  }
  #sidebar {
    float: none;
    width: 60%;
    margin: 0 auto 50px;
    h1 {
      padding-top: 115px;
      font-size: 25px;
    }
  }
}

@media (max-width: 508px) {
  #header {
    min-height: 130px;
    overflow: hidden;
  }
  #menu {
    &,
    ul {
      line-height: 50px;
    }
  }
  ul {
    li {
      margin-left: 7px;
      margin-right: 7px;
    }
  }
  #sidebar {
    min-height: 180px;
    h1 {
      font-size: 19px;
      padding-top: 50px;
    }
    .btn-white {
      margin-top: 20px;
    }
    &.slider-small {
      height: 100px;
      h1 {
        padding: 30px;
      }
    }
  }
  .mid-form {
    width: 70%;
  }
}
