<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <h2 class="subheader">{{titulo}} </h2>
    <button (click)="changeTitulo()">pulsame</button>
    <hr>
    <!-- <div *ngFor='peliculas'></div>
    {{peliculas[0].title}}
    <h2>numero de peliculas</h2>
    <div *ngIf="peliculas .length <= 3"> pocas </div>
    <div *ngIf="peliculas.length > 3"> muchas </div>
    {{peliculas.length}}
    <h2>listado de pelicu las</h2> -->
    <div id="favorita" *ngIf="favorita">
      <h2 class="subheader">
        Pelicula Favorita
      </h2>
      <h4>

        {{favorita.title | uppercase}}
      </h4>
      <h5>
        {{favorita.year | date:'full'}}
      </h5>
    </div>{{fecha | espar }}
    <hr><br>
    {{fecha | date:'dd/MM/yyyy' }}
    <div id="articles" *ngIf='peliculas'>

      <div *ngFor="let pelicula of peliculas;let i = index">

        <app-pelicula [pelicula]="pelicula" [i]="i+1" (MarcarFavorita)="MostrarFavorita($event)"></app-pelicula>
      </div>
    </div>
  </section>

  <app-sidebar></app-sidebar>
</div>
