<app-slider [nombre]="'Peliculas'" [size]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <h2 class="subheader">{{titulo}} </h2>
    <button (click)="changeTitulo()">pulsame</button>
    <hr>
    <div *ngFor='peliculas'></div>
    {{peliculas[0].title}}
    <h2>numero de peliculas</h2>
    <div *ngIf="peliculas.length <= 3"> pocas </div>
    <div *ngIf="peliculas.length > 3"> muchas </div>
    {{peliculas.length}}
    <h2>listado de peliculas</h2>
    <div id="articles" *ngIf='peliculas'>

      <article class="article-item" *ngFor='let pelicula of peliculas; let i = index;'>
        <div class="image-wrap">
          <img src={{pelicula.img}} alt={{pelicula.title}}>
        </div>
        <h2>{{i+1}}{{pelicula.title}}</h2>
        <span class="date">Hace 5 minutos </span>
        <!-- ngStyle -->
        <!-- <span class="year" [style.background]="pelicula.year > 2016?'green':'red'"> -->
        <!-- <span class="year" [class.year-green]="pelicula.year > 2016" [class.year-red]="pelicula.year <= 2016"> -->
        <!-- <span class="year" [class]="pelicula.year > 2016 ? 'year-green':'year-red'"> -->
        <span class="year" [ngClass]="{
          'year-green': pelicula.year > 2016,
          'year-red': pelicula.year <= 2016
        }">
          {{pelicula.year}}
        </span>
        <a href="#">leer mas</a>
        <div class="clearfix"></div>
      </article>
      <!-- agegan lo otros articulos -->
    </div>
  </section>

  <app-sidebar></app-sidebar>
</div>
